

body {margin: 0; font-family: Arial, Helvetica, sans-serif;}

.header {
  color: #4CAF50;
  padding: 0px 0px 0px 8px;
}

.menuBar {
  overflow: hidden;
  background: rgb(253, 253, 253);
  width: 100%;
  position: fixed;
  z-index: 3;
  float: left;
  
  /*position: relative; */
}

.menuBar a {
  float: right; /* Spacing of buttons */
  text-align: center;
  color: black;
  padding: 0px 30px; /* Gives extra spacing all around text */
  text-decoration: none; /* Removes default link underline */
  font-size: 10px;
  top: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  /*font-weight: bold;*/
}

.active {
  background: rgba(145, 145, 145, 0.2);
  color: white;
}

/* Colour of button changes when mouse is hovered over button */
.menuBar a:hover {
  /*background-color: #7e7e7e;*/
  color: white;
  /*background: rgba(145, 145, 145, 0.1);*/
  font-size: 25px;
}

/* Button colour of active page */
.menuBar a.active {
  background: rgba(145, 145, 145, 0.2);
  color: white;
}

.menuBar .icon {
  display: none;
  cursor: pointer;
}

/*----------------------------------------------------------------------
Sticky menu bar */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.subSticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 600px;
}

/*--------------------------------------------------------------------*/
/* Hides all menu buttons except 'first-child' which is 'Home'*/
/*The nth-child needs to detect which page is active, and that variable needs to be passed in */
/*
@media screen and (max-width: 565px) {
  .menuBar a:not(:nth-child(<?php echo $activePage ?>)) {
    display: none;
  }
  Simultaneously displays the bars icon
  .menuBar a.icon {
    float: right;
    display: block;
  }
}
*/
/* Responsible for making the menu appear when bars are clicked */
@media screen and (max-width: 565px) {
  .menuBar.responsive {position:relative;}
  .menuBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
