

body {margin: 0; font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

#nv_12 {
  color: lightgray;
}

a {
  text-decoration: none;
}

.navbar-container {
  position: fixed;
  width: 100%;
  background-color: white;
}

.selection-bar h3, h2, a {
  color: black;
}

.menubar {
  width: 100%;
  border-bottom: 1px solid rgba(145, 145, 145, 0.2);
  
}

.selection-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  gap: 10%;
  overflow: hidden;
}

.selection-bar:first-child > li {
  margin-left: auto;
}

.selection-bar:last-child > li {
  margin-right: auto;
}

.selection-section {
  display: inline;
  padding: 0px 10px 0px 10px;
  font-size: 15px;
  font-weight: 50;
  left: 0px;
}

.selection-section-bars-image {
  width: 35px;
  height: 35px;
}

#nv_111 {
  left: 0px;
}

#icon_1 {
  width: 40px;
  height: 40px;
}

.selection-bar-buttons {
  display: inline-flex;
  padding: 0px 10px 0px 10px;
  flex-wrap: wrap;
  /*gap: 50px;*/
}

.selection-bar-text {
  font-size: 15px;
  font-weight: 100;

  
}

.testing {
  padding-top: 100px;
  padding-left: 20px;
}

/*
.selection-bar-container {
  width: 100%;
}
*/
.selection-bar-button {
  padding: 0px 30px 0px 30px;
  border-bottom: 3px solid transparent;
  
}

#nv_1122::before {
  height: 50%;
  border-left: 1px solid red;
}

.selection-bar-button-side-border {
  width: 108px;
  height: 40%;
  position: absolute;
  top: -1px;
  left: 0px;
  padding: 10px 0px 0px 0px;
}

#nv_1122-donate::after {
  width: 100%;
}

.selection-bar-button-text {
  font-size: 15px;
  font-weight: 100;
}

.selection-bar-logo {
  display: flex;

}

.page-display-bar {
  display: flex;
  color: lightgray;
  padding: 0px 0px 0px 10px;
}

.header {
  color: #4CAF50;
  padding: 0px 0px 0px 8px;
}

.selection-section-bars-container {
  width: 50px;
  height: 50px;
  align-items: center;
}

.selection-section-bars {
  align-content: center;
  width: inherit;
  height: inherit;
}

.nav-pages-bar {
  overflow: hidden;
  width: 100%;
  position: static;
  height: auto;
  border-bottom: 1px solid rgba(145, 145, 145, 0.2);
  display: inherit;
  top: 10%;
}

#nv_12 {
  padding: 5px 0px 5px 0px; /* top left bottom right */
}

.page-display-button {
  padding: 0px 5px 0px 5px;
  font-size: 12px;
}

.page-display-link {
  padding: 0px 0px 0px 5px;
}

.menu-buttons li {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.buttons-wrapper {
  display: flex;
  position: static;
  flex-direction: row;
  align-items: center;

}

.menu-button-title {
  color: black;
  font-weight: 25;
  font-size: 15px;
  text-decoration: none;
}

.menu-button {
  flex: 50%;
}

.menu-title {
  text-decoration: none;
}

.menu-logo {
  height: 50px;
  width: 50px;
}

.active {
  border-bottom: 3px solid orange;

}

/* Colour of button changes when mouse is hovered over button */
#nv_12 a:hover {
  /*background-color: #7e7e7e;*/
  /*color: white;*/
  /*background: rgba(145, 145, 145, 0.1);*/
  /*font-size: 25px;*/
  text-decoration: underline;
}

/* Button colour of active page */
.menuBar a.active {
  background: rgba(145, 145, 145, 0.2);
  color: white;
}

.menuBar .icon {
  display:block;
  cursor: pointer;
}

/*----------------------------------------------------------------------
Sticky menu bar */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.subSticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 600px;
}

/*--------------------------------------------------------------------*/
/* Hides all menu buttons except 'first-child' which is 'Home'*/
/*The nth-child needs to detect which page is active, and that variable needs to be passed in */
/*
@media screen and (max-width: 565px) {
  .menuBar a:not(:nth-child(<?php echo $activePage ?>)) {
    display: none;
  }
  Simultaneously displays the bars icon
  .menuBar a.icon {
    float: right;
    display: block;
  }
}

/*

600px > normal - small phones
768px > large phones and tablets
992px > landscape tablets
1200px > laptops/desktops
1200px < large laptops/desktops



*/
/* Responsible for making the menu appear when bars are clicked */
@media screen and (max-width: 600px) {
  .menuBar.responsive {position:relative;}
  .menuBar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
