
body {margin:0; font-family: Arial, Helvetica, sans-serif;}

.menuBar {
  overflow: hidden; /* Makes menu bar visible */
  background-color: #555;
  width: 100%;
}

.menuBar a {
  float: left; /* Spacing of buttons */
  text-align: center;
  display: block;
  color: white;
  padding: 7px 16px; /* Gives extra spacing all around text */
  text-decoration: none; /* Removes default link underline */
  font-size: 20px;
}

/* Colour of button changes when mouse is hovered over button */
.menuBar a:hover, .dropdown:hover .dropdownButton {
  background-color: #000;
  color: white;
}

/* Button colour of active page */
.menuBar a.active {
  background-color: #4CAF50;
  color: white;
}

.menuBar .icon {
  display: none;
}

/*--------------------------------------------------------------------*/

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropdownButton {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 7px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: red;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  float: left;
  color: white;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #eee;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*----------------------------------------------------------------------
Sticky menu bar */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.subSticky {
  position: fixed;
  top: 5;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/*--------------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  .menuBar a:not(:first-child), .dropdown .dropdownButton {
    display: none;
  }
  .menuBar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .menuBar.responsive {position:relative;}
  .menuBar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menuBar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .menuBar.responsive .dropdownButton {float: none;}
  .menuBar.responsive .dropdown-content {position: relative;}
  .menuBar.responsive .dropdown .dropdownButton {
    display: block;
    width: 100%;
    text-align: left;
  }
}
